/****************/
/**** Font ****/
/****************/

#root *{
  font-family: Arial, Helvetica, sans-serif;
}

main {
  min-height: 100vh;
  margin: 2rem;
}

a {
  text-decoration: none;
  color: black;
}

a:hover{
  text-decoration: underline;
}

html {
  font-size: 62.5%;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 4rem;
}

h3{
  font-size: 2.2rem;
}

p,
a,
input,
select,
textarea {
  font-size: 2rem;
}

small {
  font-size: 1.2rem;
}

label{
  font-size: 2.5rem;
}

.icons{
  font-size: 3rem;
}
/****************/
/**** Spacing ****/
/****************/

.w-full {
  width: 100%;
}

.p-2 {
  padding: 2rem;
}

.p-4{
  padding: 4rem;
}

.mr-2 {
  margin-right: 2rem;
}

.m-2 {
  margin: 2rem;
}

.my-1 {
  margin: 1rem;
}

.my-2 {
  margin: 2rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-4 {
  margin-bottom: 4rem;
}

.mt-2{
  margin-top: 2rem;
}

.mt-6 {
  margin-top: 6rem;
}

.minh-screen {
  min-height: 100vh;
}

.maxw-full {
  max-width: 100%;
}

.w-10 {
  width: 10%;
}

.w-20 {
  width: 20%;
}

.w-40 {
  width: 40%;
}

.w-60 {
  width: 60%;
}

.w-80 {
  width: 80%;
}

.w-90 {
  width: 90%;
}

/****************/
/**** Layout ****/
/****************/

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-evenly {
  justify-content: space-evenly;
}

.items-center {
  align-items: center;
}

.items-start {
  align-items: start;
}

/****************/
/**** Components ****/
/****************/

.button {
  font-size: 2rem;
  background: #141937;
  color: #e5ecfc;
  padding: 1.5rem 2.5rem;
  border-radius: 25px;
}

.button:hover {
  background: #323e84;
  color: #e5ecfc;
}


/****************/
/**** Display ****/
/****************/

.hidden {
  display: none;
}

body{
  background: url("../assets/background.jpg");
  background-repeat: no-repeat;
}

.bg-white{
  background: white;
}

.bg-nav{
  background: #5E627A;
}

.bg-nav *{
  color: #e5ecfc;
}

.current-link{
  color: #323E84;
}
/****************/
/**** Form ****/
/****************/

input,
select {
  padding: 1rem 2rem;
  border-radius: 25px;
}

.radio {
  margin-right: 2rem;
  font-size: 5rem;
}

textarea {
  resize: none;
}

footer nav ul li:hover{
  opacity: 70%;
}