a {
  text-decoration: none;
  color: black;
}

a, h1, h2, h3, h4, h5, h6, p, span, button, input, i, li{
  font-family: Arial, Helvetica, sans-serif;
}

html{
  font-size: 62.5%;
}

h1{
  font-size: 5rem;
}

h2{
  font-size: 4rem;
}

p, a{
  font-size: 2rem;
}

/****************/
/**** Spacing ****/
/****************/

.w-full{
  width: 100%;
}

.p-2{
  padding: 2rem;
}

.m-2{
  margin: 2rem;
}

.mb-2{
  margin-bottom: 2rem;
}

.mb-4{
  margin-bottom: 4rem;
}

.minh-screen{
  min-height: 100vh;
}

.maxw-full{
  max-width: 100%;
}

.w-10{
  width: 10%;
}

.w-20{
  width: 20%;
}

.w-40{
  width: 40%;
}

.w-80{
  width: 80%;
}

/****************/
/**** Layout ****/
/****************/

.flex{
  display: flex;
}

.flex-row{
  flex-direction: row;
}

.flex-col{
  flex-direction: column;
}

.justify-center{
  justify-content: center;
}

.justify-between{
  justify-content: space-between;
}

.justify-around{
  justify-content: space-around;
}

.justify-evenly{
  justify-content: space-evenly;
}

.items-center{
  align-items: center;
}

.items-start{
  align-items: start;
}

/****************/
/**** Components ****/
/****************/

.button{
  background: #141937;
  color: #E5ECFC;
  padding: 1.5rem 2.5rem;
  border-radius: 25px;
}

/****************/
/**** Display ****/
/****************/

.hidden{
  display: none;
}
